.skip_nav {
	position:relative;
	z-index:1000;
	display:block;
	overflow:hidden;
	height:0;
	background:#000;
	text-align:center;
}
.skip_nav:focus {
	overflow:auto;
	height:auto;
	padding:5px 0;
	color:#fff;
}

footer {
  margin-top: auto;
}

.ir-down {
  width: 10px;
  height: 11px;
  background-position: -155px -123px;
}

.pagination-box {
  text-align: center;
  margin-bottom: 40px;
}

.pagination {
  display: inline-block;
  margin: 20px auto;
  padding-left: 0;
  border-radius: 4px;
  text-align: right;
}

.content-container {
  width: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-container .title {
  margin-top: 55px;
  padding: 12px 0 49px 32px;
  background: url("../../image/common/sub-title-bg.png") no-repeat bottom right;
}

.content-container .title h2 {
  font-size: 36px;
  color: #20283a;
  margin-bottom: 15px;
}

.content-container .title p {
  font-size: 16px;
  color: #666666;
}

.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f7f7f7;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  height: 50px;
}

.sub-menu .sub-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: static;
      -ms-flex-align: static;
          align-items: static;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000000;
}

.sub-menu .sub-ul .sub-item {
  border-right: 1px solid #d3d3d3;
  padding-right: 16px;
  font-size: 13px;
  position: relative;
}

.sub-menu .sub-ul .sub-item:hover {
  cursor: pointer;
}

.sub-menu .sub-ul .sub-item:hover .sub-depth {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

.sub-menu .sub-ul .sub-item:nth-child(1) {
  width: 156px;
  padding-left: 26px;
}

.sub-menu .sub-ul .sub-item:nth-child(2) {
  width: 158px;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-menu .sub-ul .sub-item:nth-child(3) {
  width: 164px;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-menu .sub-ul .sub-item .sub-depth {
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 30;
  background: #f7f7f7;
  -webkit-transition: .5s;
  transition: .5s;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.sub-menu .sub-ul .sub-item .sub-depth .sub-depth-item {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border: 1px solid #d3d3d3;
  border-top: 0;
  padding-left: 26px;
}

.sub-menu .sub-ul a {
  display:block;
  width:100%;
  line-height: 50px;
}

.sub-menu .sub-ul img {
  margin-right: 12px;
}

.sub-menu .btn-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sub-menu .btn-box button {
  background: none;
  width: 52px;
  border-left: 1px solid #d3d3d3;
}

.share-open {
  position: relative;
}

.sns-wrap {
  position: absolute;
  bottom: -60px;
  left: -40px;
  padding: 10px;
  border: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  z-index: 99;
  opacity: 0;
  display: none;
}

.sns-wrap.on {
  display: block;
  opacity: 1;
}

.sns-wrap::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 10%;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.sns-wrap::after {
  content: '';
  position: absolute;
  top: -1px;
  right: 10%;
  width: 14px;
  height: 12px;
  background: #ffffff;
  z-index: 2;
}

.sns-wrap button.fa,
.sns-wrap button.tw {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: url("../../image/common/ir/ir-bbs.png") no-repeat;
}

.sns-wrap button.fa {
  background-position: -2px -305px;
  margin-right: 8px;
}

.sns-wrap button.tw {
  background-position: -107px -304px;
}

.content-container .content {
  margin-bottom: 40px;
  padding: 32px 40px 0 32px;
}

.content-container .content .sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.content-container .content .sub-title h3 {
  font-size: 28px;
  font-weight: 900;
}

iframe {
  width: 1118px;
  height: 740px;
  background: #ffffff;
}

@media all and (max-width: 1000px) {
  .middle-hidden {
    display: none;
    visibility: hidden;
  }
  /* .content-container {
    width: calc(100% - 210px);
    margin-left: auto;
  } */
  .content-container .title {
    padding-left: 15px;
  }
  .content-container .sub-menu .sub-ul .sub-item:nth-child(1) {
    padding-left: 15px;
  }
  .content-container .content {
    padding: 32px 15px 0;
  }
  .content-container .content .sub-title {
    margin-bottom: 21px;
  }
}

@media all and (max-width: 768px) {
  .tablet-hidden {
    display: none;
    visibility: hidden;
  }
  .content-container {
    width: 100%;
  }
  .content-container .sub-menu .sub-ul {
    width: 80%;
  }
  .content-container .sub-menu .sub-ul .sub-item:nth-child(1) {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .content-container .sub-menu .sub-ul .sub-item:nth-child(2) {
    width: auto;
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
  }
  .content-container .sub-menu .sub-ul .sub-item:nth-child(3) {
    width: auto;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}

@media all and (max-width: 480px) {
  .mobile-hidden {
    display: none !important;
    visibility: hidden;
  }
  .content-container {
    width: 100%;
  }
  .content-container .title {
    background: none;
    text-align: center;
    margin-top: 0px;
    padding: 37px 15px 31px;
  }
  .content-container .sub-menu .sub-ul {
    width: 90%;
  }
  .content-container .sub-menu .sub-ul .sub-item:nth-child(1) {
    padding-right: 8px;
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
  }
  .content-container .sub-menu .sub-ul .sub-item:nth-child(2),
  .content-container .sub-menu .sub-ul .sub-item:nth-child(3) {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-container .sub-menu .sub-ul .sub-item:nth-child(2) i,
  .content-container .sub-menu .sub-ul .sub-item:nth-child(3) i {
    margin-left: 16px;
  }
}
